@model BlackRose.Models.Equipment

@{
    ViewData["Title"] = "Delete";
}

<h1 class="row justify-content-center">Удаление оборудования</h1>

<h3 class="row justify-content-center">Правда хотите удалить?</h3>
<div>
    <hr />
    <dl class="row justify-content-center">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LongDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LongDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Availability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Availability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateReturn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateReturn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryEquips)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryEquips)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-danger">Вернуться назад</a>
    </form>
</div>
