@model BlackRose.Models.EventAirsoft

@{
    ViewData["Title"] = "Delete";
}

<h1 class="row justify-content-center">Удаление мероприятия</h1>

<h3 class="row justify-content-center">Правда хотите удалить?</h3>
<div >

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Venuet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venuet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceEvent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceEvent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFavorite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFavorite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfParticipants)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfParticipants)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFinish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFinish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-danger">Вернуться назад</a>
    </form>
</div>
